<h1>Personal CRM</h1>

<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/contacts" routerLinkActive="active">
        Contacts
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/todo" routerLinkActive="active">
        To do's
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/notes" routerLinkActive="active">
        Notes
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/upcomingReminders"
        routerLinkActive="active"
      >
        Upcoming Reminders
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<!---

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
</ul>

<mdb-tabs>
  <mdb-tab title="Contacts">
    <app-contacts></app-contacts>
  </mdb-tab>
  <mdb-tab title="To do's">
    <app-todos></app-todos>
  </mdb-tab>
  <mdb-tab title="Notes">
    <app-notes></app-notes>
  </mdb-tab>
  <mdb-tab title="Upcoming Reminders">
    <app-upcoming-reminders></app-upcoming-reminders>
  </mdb-tab>
</mdb-tabs>
--->
