<div class="container mx-auto px-4">
  <h2 class="text-2xl font-bold mb-4">Register</h2>
  <form (ngSubmit)="register()">
    <div class="mb-4">
      <label for="firstName" class="block text-sm font-medium text-gray-700"
        >First Name</label
      >
      <input
        type="text"
        class="border border-gray-300 rounded-md px-3 py-2 w-full"
        id="firstName"
        [(ngModel)]="registerRequest.firstName"
        name="firstName"
      />
    </div>
    <div class="mb-4">
      <label for="lastName" class="block text-sm font-medium text-gray-700"
        >Last Name</label
      >
      <input
        type="text"
        class="border border-gray-300 rounded-md px-3 py-2 w-full"
        id="lastName"
        [(ngModel)]="registerRequest.lastName"
        name="lastName"
      />
    </div>
    <div class="mb-4">
      <label for="emailId" class="block text-sm font-medium text-gray-700"
        >Email</label
      >
      <input
        type="email"
        class="border border-gray-300 rounded-md px-3 py-2 w-full"
        id="emailId"
        [(ngModel)]="registerRequest.emailId"
        name="emailId"
      />
    </div>
    <div class="mb-4">
      <label for="password" class="block text-sm font-medium text-gray-700"
        >Password</label
      >
      <input
        type="password"
        class="border border-gray-300 rounded-md px-3 py-2 w-full"
        id="password"
        [(ngModel)]="registerRequest.password"
        name="password"
      />
    </div>
    <div class="mb-4">
      <label
        for="confirmPassword"
        class="block text-sm font-medium text-gray-700"
        >Confirm Password</label
      >
      <input
        type="password"
        class="border border-gray-300 rounded-md px-3 py-2 w-full"
        id="confirmPassword"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
      />
    </div>
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
    >
      Register
    </button>
  </form>
</div>
